<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Konscious.Security.Cryptography.Argon2" version="1.2.1" targetFramework="net48" />
  <package id="Konscious.Security.Cryptography.Blake2" version="1.0.9" targetFramework="net48" />
  <package id="MSTest.TestAdapter" version="2.2.9" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.9" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="PasswordGenerator" version="2.1.0" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
</packages>